@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: #c44b3b;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s;
}
body.fade-out {
  opacity: 0;
}

.page__bg {
  cursor: default;
  background-color: #c44b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.page__bg .name-animation {
  font-size: 40em;
  line-height: 0.25;
}
.page__bg .name-animation div {
  color: transparent;
  -webkit-text-stroke: 3px #ad423a;
}
.page__bg .name-animation div:nth-child(1) {
  animation: stretch1 6s ease-in-out alternate infinite;
}
.page__bg .name-animation div:nth-child(2) {
  animation: stretch2 4s ease-in-out alternate-reverse infinite;
}

.info {
  color: white;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  z-index: 2;
}
.info .small {
  font-size: 0.85rem;
}

.links {
  list-style-type: none;
  position: fixed;
  margin: 0;
  padding: 0;
  right: 2rem;
  top: 2rem;
  text-align: right;
  z-index: 2;
}
.links li {
  margin-bottom: 0.4rem;
}
.links li.separator {
  padding-bottom: 0.8rem;
}
.links a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.links a:hover, .links a:focus {
  outline: none;
  transition: all 0.2s;
  border-bottom: 2px solid white;
}

#about,
#gramaphone,
#s-and-c,
#logos,
#posters {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: -1;
}
#about:target,
#gramaphone:target,
#s-and-c:target,
#logos:target,
#posters:target {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
}
.modal a.modal__close {
  color: #c44b3b;
  text-decoration: none;
  position: absolute;
  font-size: 2rem;
  line-height: 0.7;
  top: 4rem;
  right: 4rem;
  z-index: 2;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.modal a.modal__close:hover {
  color: #ad423a;
}
.modal a.modal__close:focus {
  outline: none;
  border: 2px solid #c44b3b;
}
.modal .modal__content {
  background-color: white;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  margin: 0;
  padding: 4rem;
  overflow: auto;
  z-index: 1;
  color: #c44b3b;
}
.modal .modal__content a {
  color: #c44b3b;
  text-decoration: none;
  border-bottom: 0 solid transparent;
  font-weight: 700;
  transition: all 0.2s;
}
.modal .modal__content a:hover, .modal .modal__content a:focus {
  outline: none;
  border-bottom: 2px solid #c44b3b;
}
.modal .modal__content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem;
}
.modal .modal__content h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 1rem;
}
.modal .modal__content p {
  font-size: 1.2rem;
  margin: 0 0 2rem;
  max-width: 800px;
}
.modal .modal__content figure {
  margin: 0 0 2rem;
}
.modal .modal__content figure img {
  max-width: 900px;
  width: 100%;
  opacity: 0;
}
.modal .modal__content figure img:not(.initial) {
  transition: opacity 1s;
}
.modal .modal__content figure img.initial,
.modal .modal__content figure img.loaded,
.modal .modal__content figure img.error {
  opacity: 1;
}
.modal .modal__content figure img:not([src]) {
  visibility: hidden;
}
.modal .modal__content figure figcaption {
  font-size: 0.8rem;
  font-style: italic;
  color: #a53131;
}
.modal .modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .name-animation {
    font-size: 26em;
    transform: rotate(90deg);
  }

  .links {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .modal a.modal__close {
    top: 1rem;
    right: 1rem;
    font-size: 2.4rem;
  }
  .modal .modal__content {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
  }
}
@keyframes stretch1 {
  0% {
    transform: skew(10deg, 0deg) rotateX(0deg);
  }
  100% {
    transform: skew(30deg, 20deg) rotateX(360deg);
  }
}
@keyframes stretch2 {
  0% {
    transform: skew(-20deg, -10deg) rotateX(60deg);
  }
  100% {
    transform: skew(20deg, 30deg) rotateX(300deg);
  }
}

/*# sourceMappingURL=style.css.map */
